@import "compass";

$color-main: desaturate(#f39c12, 10%);
$color-accent: adjust-hue($color-main, 200);
$color-bg: #ecf0f1;

$fontsz-middle: 15px;
$fontsz-large: $fontsz-middle * 1.2;
$fontsz-small: $fontsz-middle * 0.8;

@font-face {
    font-family: "nicomoji+";
    src: url("../fonts/nicomoji-plus.ttf") format("TrueType");
}

@mixin background {
    background-image: url(../img/geometry2.png);
    background-color: $color-bg;
}

@mixin font-main {
    font-family: "nicomoji+";
}

body {
    @include background;
    height: 100%;
}

#contents {
    margin-top: 20px;
    height: 100%;
}
