@import "compass";
@import "base";
@import "basic";

#dashboard {
    text-align: center;

    a {
        font-weight: bold;
        color: $color-accent;
    }
}

dd {
    margin-left: 3px;
}

#feed-list-unread {
    font-weight: bold;
    width: 100%;
    height: 100%;

    a {
        color: $color-main;

        .feed-title {
            display: inline-block;
            width: 87%;
        }

        .badge {
            width: 10%;
        }
    }
}

#feed-list-read {
    a {
        color: $color-text;
    }

    .feed-title {
        display: inline-block;
        width: 87%;
    }

    .feed-unpull {
        display: inline-block;
        width: 10%;
        text-align: center;
    }

}

.w50{
    display: inline-block;
    width: 50%;
}

#hide {
    width: 48%;
    display: inline-block;
    text-align: right;
    color: $color-text;

    button {
        width:  30px;
        height: 25px;
        margin-right: 4%;
    }
}

#option {
    width: 100%;
    text-align: center;

    span {
        color: $color-text;
    }
}
