@import "compass";
@import "basic";
@import "base";

@import "item_list";

$thumbnail-width: 130px;
$thumbnail-height: 100px;

.list-header {
    .pullnum {
        @include font-list-header(10%);
        text-align: center;
    }

    .info {
        @include font-list-header(10%);
        text-align: center;
    }

    .pull {
        @include font-list-header(10%);
        text-align: center;
    }
}

.list-body {
    height: 100%;

    .thumb {
        width: $thumbnail-width;
        height: $thumbnail-height;
    }

    .text-info {
        width: 68%;

        .title {
            width: 100%;
        }

        .description {
            height: 60px;
            width: 100%;
            color: $color-text;
            word-break: break-all;
            @include line-clamp(3);
        }
    }

    .circle-info {
        width: 5%;
        height: 100%;

        .pullnum {
            height: 50%;
            text-align: center;
        }
    
        .info {
            height: 50%;
            text-align: center;
            color: $color-text;
        }
    }

    .pull {
        width: 5%;
        text-align: center;
    }
}

