@import "compass";
@import "basic";
@import "base";
@import "compass/css3/deprecated-support";

@import "item_list";

$thumbnail-width: 130px;
$thumbnail-height: 100px;

.list-header {
    .pullnum {
        @include font-list-header(10%);
        text-align: center;
    }

    .info {
        @include font-list-header(10%);
        text-align: center;
    }

    .pull {
        @include font-list-header(10%);
        text-align: center;
    }
}

.list-body {
    height: 100%;

    .list-item {
        width: 100%;
        height: 100%;
        margin-bottom: $margin-inner;

        .thumb {
            width: $thumbnail-width;
            height: $thumbnail-height+4px;
            float: left;

            img {
                width: $thumbnail-width;
                height: $thumbnail-height+4px;
            }
        }

        .text-info {
            width: 68%;
            height: 100%;
            float: left;

            .title {
                width: 100%;
                padding-left: $margin-small;
            }

            .description {
                height: 60px;
                width: 100%;
                color: $color-text;
                padding-left: $margin-small;
                word-break: break-all;
                @include line-clamp(3);
            }

            .pullusers {
                width: 100%;
                padding-left: $margin-small;
                @include ellipsis();

                .link-panel {
                    display: inline-block;
                    @extend .thumbnail-user-xsmall;
                }

            }
        }

        .circle-info {
            width: 5%;
            height: 100%;
            float: left;

            .info {
                text-align: center;
                color: $color-text;
                margin-top: 54px;
            }

            .pullnum {
                height: 50%;
                text-align: center;
                margin-top: 10px;
            }
        }

        .pull {
            width: 5%;
            height: 100%;
            text-align: center;
            float: left;
        }

        .clear-left {
            clear: left;
        }
    }
}

