@import "compass";
@import "basic";
@import "navbar";

@mixin font-list-header($width){
    width: $width;
    color: #d6d6d6;
}

.list-header {
    .title {
        @include font-list-header(68%);
    }
    
    .pubDate {
        @include font-list-header(20%);
    }
    
    .mark {
        @include font-list-header(10%);
        text-align: center;
    }
}

.list-body {
    .title {
        width: 68%;

        .read {
            color: #000000;
        }

        .unread {
            color: #ff7b00;
            font-weight: bold;
        }
    }

    .pubDate {
        width: 20%;
        color: #c4c4c4;
    }

    .mark {
        width: 10%;
        text-align: center;
        color: $color-accent;
    }
}

#dashboard {
    text-align: center;

    a {
        font-weight: bold;
        color: $color-accent;
    }
}


/*
    フィードリスト
*/
.link-panel {
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #fff;

    &:hover {
        background-color: #fff;
    }

    a {
        display: inline-block;
        width: 100%;
        height: 100%;

        &:hover {
            text-decoration: none;
        }
    }
}


#feed-list-unread {
    font-weight: bold;
    width: 100%;
    height: 100%;

    a {
        color: #ff5400;

        .feed-title {
            display: inline-block;
            width: 87%;
        }

        .badge {
            width: 10%;
        }
    }

}

#feed-list-read {

  a {
      color: #ff5400;
      display: inline-block;
  }

  .feed-title {
      width: 87%;
  }

  .unpull {
      width: 10%;
      text-align: center;
  }

}

