@import "compass";
@import "base";
@import "basic";

@import "navbar";
@import "footer";

h2 {
    @include font-main;
    text-align: center;
}

h3 {
    @include line-bottom;
}

ul {
    @include list-dot-original;
}

#dashboard {
    text-align: center;

    a {
        font-weight: bold;
        color: $color-accent;
    }
}


.without-dot {
    list-style-type: none;
}

.container {
    margin-top: $margin;
}

.paragraph {
    margin-top: $margin-inner;

    p {
        letter-spacing: 2px;

        .font-lg {
            font-size: $fontsz-large;
            color: $color-accent;
            letter-spacing: normal;
        }
    }
}
