@font-face {
  font-family: "nicomoji+";
  src: url("../fonts/nicomoji-plus.ttf") format("TrueType");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000355}}
.link-panel {
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000361}}
.link-panel:hover {
  background-color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000365}}
.link-panel a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000370}}
.link-panel a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000376}}
.thumbnail-user-small {
  width: 32px;
  height: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000380}}
.thumbnail-user-xsmall {
  width: 16px;
  height: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000384}}
body {
  background-image: url(../img/geometry2.png);
  background-color: #ecf0f1;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000389}}
#contents {
  margin-top: 20px;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000394}}
.clear-left {
  clear: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\000034}}
.navbar-brand {
  font-family: "nicomoji+";
  font-size: x-large;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\000039}}
.navbar-default {
  background-color: #f39c12;
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\0000314}}
.nav-btn-text {
  padding: 0px;
  margin: 0px;
  font-size: xx-small;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\0000321}}
.nav-btn-icon {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\000035}}
#dashboard {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\000038}}
#dashboard a {
  font-weight: bold;
  color: #121ef3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000314}}
dd {
  margin-left: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000318}}
#feed-list-unread {
  font-weight: bold;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000323}}
#feed-list-unread a {
  color: #f39c12;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000326}}
#feed-list-unread a .feed-title {
  display: inline-block;
  width: 87%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000331}}
#feed-list-unread a .badge {
  width: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000338}}
#feed-list-read a {
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000342}}
#feed-list-read .feed-title {
  display: inline-block;
  width: 87%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000347}}
#feed-list-read .feed-unpull {
  display: inline-block;
  width: 10%;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000355}}
.w50 {
  display: inline-block;
  width: 50%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000360}}
#hide {
  width: 48%;
  display: inline-block;
  text-align: right;
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000366}}
#hide button {
  width: 30px;
  height: 25px;
  margin-right: 4%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000373}}
#option {
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_feed_list\.scss}line{font-family:\0000377}}
#option span {
  color: #727272;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\000037}}
.list-header .title {
  width: 68%;
  color: #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000311}}
.list-header .pubDate {
  width: 20%;
  color: #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000315}}
.list-header .mark {
  width: 10%;
  color: #d6d6d6;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000322}}
.list-body .title {
  width: 68%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000325}}
.list-body .title .unread {
  color: #f39c12;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000330}}
.list-body .title .read {
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000335}}
.list-body .pubDate {
  width: 20%;
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000340}}
.list-body .mark {
  width: 10%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_item_list\.scss}line{font-family:\0000344}}
.list-body .mark a {
  color: #121ef3;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_user_list\.scss}line{font-family:\000034}}
.thumbnail-user-small {
  width: 32px;
  height: 32px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\000034}}
#footer {
  color: #727272;
  width: 100%;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f39c12;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF39C12', endColorstr='#FFFEBF01');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzOWMxMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YzOWMxMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f39c12), color-stop(100%, #febf01), color-stop(100%, #f39c12), color-stop(100%, #febf01));
  background-image: -moz-linear-gradient(top, #f39c12 0%, #febf01 100%, #f39c12 100%, #febf01 100%);
  background-image: -webkit-linear-gradient(top, #f39c12 0%, #febf01 100%, #f39c12 100%, #febf01 100%);
  background-image: linear-gradient(to bottom, #f39c12 0%, #febf01 100%, #f39c12 100%, #febf01 100%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000316}}
#footer #message {
  margin-bottom: 20px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000321}}
#footer #sitemap {
  width: 25%;
  margin-left: 28%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000327}}
#footer #notification {
  width: 25%;
  height: 100%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000333}}
#footer #disclaimer {
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 12px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000340}}
#footer a {
  color: #121ef3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000344}}
#footer li {
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_footer\.scss}line{font-family:\0000348}}
#footer .date {
  margin-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000313}}
h2 {
  font-family: "nicomoji+";
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000318}}
.randomfeed {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000321}}
.randomfeed .frame {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000324}}
.randomfeed .frame .item {
  position: relative;
  width: 260px;
  height: 200px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000330}}
.randomfeed .frame .item .huge-thumbnail {
  margin: 0;
  padding: 0;
  font-size: 0px;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0 inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0 inset;
  box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0 inset;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0;
  box-shadow: rgba(255, 255, 255, 0.5) -1px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000341}}
.randomfeed .frame .item .huge-thumbnail img {
  width: 50%;
  height: 50%;
  margin: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000348}}
.randomfeed .frame .item .title {
  display: inline;
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #ecf0f1;
  color: #727272;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000357}}
.randomfeed .frame .item .pull {
  display: inline;
  position: absolute;
  right: 3px;
  bottom: 3px;
  background-color: #ecf0f1;
  padding: 3px;
  text-align: center;
  vertical-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000367}}
.randomfeed .frame .item .pull a {
  width: 100%;
  height: 100%;
}
