@charset "UTF-8";
@font-face {
  font-family: "nicomoji+";
  src: url("../fonts/nicomoji-plus.ttf") format("TrueType");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000325}}
body {
  background-image: url(../img/geometry2.png);
  background-color: #ecf0f1;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_basic\.scss}line{font-family:\0000330}}
#contents {
  margin-top: 20px;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\000034}}
.navbar-brand {
  font-family: "nicomoji+";
  font-size: x-large;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\000039}}
.navbar-default {
  background-color: #e7991e;
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\0000314}}
.nav-btn-text {
  padding: 0px;
  margin: 0px;
  font-size: xx-small;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/_navbar\.scss}line{font-family:\0000321}}
.nav-btn-icon {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000311}}
.list-header .title {
  width: 68%;
  color: #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000315}}
.list-header .pubDate {
  width: 20%;
  color: #d6d6d6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000319}}
.list-header .mark {
  width: 10%;
  color: #d6d6d6;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000326}}
.list-body .title {
  width: 68%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000329}}
.list-body .title .read {
  color: #000000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000333}}
.list-body .title .unread {
  color: #ff7b00;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000339}}
.list-body .pubDate {
  width: 20%;
  color: #c4c4c4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000344}}
.list-body .mark {
  width: 10%;
  text-align: center;
  color: #1e29e7;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000351}}
#dashboard {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000354}}
#dashboard a {
  font-weight: bold;
  color: #1e29e7;
}

/*
    フィードリスト
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000364}}
.link-panel {
  width: 100%;
  height: 100%;
  margin-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000372}}
.link-panel:hover {
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000376}}
.link-panel a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000381}}
.link-panel a:hover {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000388}}
#feed-list-unread {
  font-weight: bold;
  width: 100%;
  height: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000393}}
#feed-list-unread a {
  color: #ff5400;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\0000396}}
#feed-list-unread a .feed-title {
  display: inline-block;
  width: 87%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\00003101}}
#feed-list-unread a .badge {
  width: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\00003110}}
#feed-list-read a {
  color: #ff5400;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\00003115}}
#feed-list-read .feed-title {
  width: 87%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/dashboard\.scss}line{font-family:\00003119}}
#feed-list-read .unpull {
  width: 10%;
  text-align: center;
}
