@font-face {
  font-family: "nicomoji+";
  src: url("../fonts/nicomoji-plus.ttf") format("TrueType");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000352}}
.thumbnail-user-small {
  width: 16px;
  height: 16px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000357}}
html, body {
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000361}}
body {
  background-image: url(../img/geometry2.png);
  background-color: #ecf0f1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000365}}
h4 {
  margin-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000369}}
.jumbotron {
  text-align: center;
  background-color: #e7991e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000373}}
.jumbotron h1 {
  font-family: "nicomoji+";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000378}}
.navbar-default {
  background-color: #e7991e;
  margin-bottom: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000383}}
h2 {
  font-family: "nicomoji+";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000387}}
.update-item {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000390}}
.update-item .update-item-thumbnail {
  width: 60%;
  height: 100%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000331}}
.update-item .update-item-thumbnail img {
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000394}}
.update-item .item-info {
  width: 40%;
  height: 100%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000342}}
.update-item .item-info div {
  width: 100%;
  word-break: break-all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000347}}
.update-item .item-info ul {
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000397}}
.update-item .item-info .movie-name {
  font-size: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003101}}
.update-item .item-info .movie-datetime {
  font-size: small;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003108}}
.pickup-item {
  margin-bottom: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003111}}
.pickup-item .pickup-item-thumbnail {
  width: 20%;
  height: 100%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000331}}
.pickup-item .pickup-item-thumbnail img {
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003115}}
.pickup-item .item-info {
  width: 80%;
  height: 100%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000342}}
.pickup-item .item-info div {
  width: 100%;
  word-break: break-all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\0000347}}
.pickup-item .item-info ul {
  margin-bottom: 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003118}}
.pickup-item .item-info .title {
  font-size: middle;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003123}}
.pickup-item .item-info .description {
  font-size: small;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003128}}
.pickup-item .item-info .pullusers li {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 0px;
  padding-right: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003138}}
.clear {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/takahiro\/Workspace\/OreRSS\/src\/OreRSS\/sass\/index\.scss}line{font-family:\00003142}}
.list {
  list-style-image: url("../img/free_triangle_005_peachpuff.gif");
}
